<!DOCTYPE html>
<html lang="en" data-ng-app="beMEAN">
<head>
	<meta charset="UTF-8">
	<title>be MEAN</title>
</head>
<body data-ng-controller="userController">
	<h1>{{ titulo }}</h1>
	
	<ul>
		<li data-ng-repeat="user in users">
			{{ user.name }} - {{ user.email }}
		</li>
	</ul>

	<div data-ng-controller="courseController">
		<h2>{{ titulo }}</h2>

		<ul>
			<li data-ng-repeat="course in courses">
				{{ course.name }} - {{ course.teacher }}
			</li>
		</ul>
	</div>

	<script src="../angular.min.js"></script>
	<script>
		angular.module("beMEAN", [])
			.controller('userController', userController)
			.controller('courseController', courseController);

			function userController($scope) {	
				$scope.titulo = "be MEAN - Usuários";
				$scope.users = [
					{name: 'suissa', email: 'suissera@manoveio.com'}
					,{name: 'joão', email: 'joao@maciosedoso.com'}
					,{name: 'franciele', email: 'fran@quimica.com'}
				];
			}

			userController['$inject'] = ['$scope'];

			function courseController($scope) {	
				$scope.titulo = "be MEAN - Cursos";
				$scope.courses = [
					{name: 'be MEAN', teacher: 'Suissa'}
					,{name: 'Learning Machine', teacher: 'Ivan Gustavo'}
					,{name: 'Laravel', teacher: 'Michael Douglas'}
				];
			}

			courseController['$inject'] = ['$scope'];
				
	</script>
</body>
</html>